body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f0f4f8;
    color: #333;
}

header {
    background-color: #0077cc;
    color: white;
    padding: 1rem;
}

header h1 {
    text-align: start;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

section {
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
}

form input,
form button {
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 1rem;
}
